<div id="navbar">
    {{#each nav}}
        <a href={{title}} >{{toUpper title}}</a>
    {{/each}}
    <form id="logout" method="get" action="/logout">
        <button type="submit">Wyloguj</button>
    </form>
</div>