<div id='loginBox'>
    <form method="post" action="/login">
        <h1>Zaloguj się aby uzyskać dostęp do strony</h1>
        <div>
            <label for="login">Login:</label>
            <input id="login" type="text" name="login" required="required" />
        </div>
        <div>
            <label for="password">Hasło:</label>
            <input id="password" type="password" name="password" required="required" />
        </div>
        <button type="submit">Zaloguj</button>
    </form>
</div>