{{>navbar}}

<div id="gridCon">
    <div id="leftColumn">
        <h2>multiupload</h2>
    </div>
    <div id="rightColumn">
        <form enctype="multipart/form-data" method="POST" action="/upload">
            <input type="file" multiple name="files"  required="required" />
            <button type="submit" id="btnSubmitFiles">upload</button>
        </form>
    </div>
</div>



